$color-primary: #1887fd;

$breakpoint-mobile: 767px;
$breakpoint-tablet: 1023px;

$header-z-index: 999;
$category-z-index: 998;
$card-z-index: -1;

$card-border: 15px;

@mixin container-shadow {
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

@mixin container-width {
    width: 80%;
    max-width: 1200px;
}

@mixin wrapper {
    width: 90%;
    max-width: 660px;
}

@mixin place-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
