@import "@/styles/utils.scss";

// user profile
.user_profile_wrapper {
    width: 150px;
    height: 40px;
    position: relative;

    &:hover {
        cursor: pointer;
    }

    .user_profile_container {
        display: flex;
        align-items: center;
        height: 100%;
        img {
            height: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 50%;
        }
        h4 {
            display: flex;
            margin: 0px 10px;
        }
        svg {
            display: flex;
            align-items: center;
        }
    }
    .user_profile_dropdown {
        position: absolute;
        top: 50px;

        width: 100%;

        div {
            width: 100%;
            height: 50px;

            display: flex;
            align-items: center;

            padding: 0px 10px;

            background-color: #ededed;
        }
    }
}

.user_card_wrapper {
    width: 400px;
    height: 120px;

    display: flex;
}

.user_img_container {
    height: 100%;
    aspect-ratio: 1/1;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.user_info_container {
    width: 100%;

    margin: 0;
    padding: 20px;

    h3,
    h4 {
        margin: 5px 0px;
    }
}

.user_review_card {
    height: 50px;

    display: flex;

    .user_review_head {
        display: flex;
        align-items: center;

        height: 100%;
        img {
            height: 100%;
            border-radius: 50%;
        }
        h4 {
            margin: 0px 10px;
        }
    }

    .user_review_body {
        display: flex;
        align-items: center;
        p {
            margin: 0px 10px;
        }
    }
}

// user_info_card
.user_info_card_wrapper {
    
}
