@import "@/styles/utils.scss";

.card_container {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    height: 220px;
    width: 700px;

    display: flex;

    margin: 30px 0px;
    border-radius: 15px;
    @include container-shadow;

    & {
        cursor: pointer;
    }
}

.img_container {
    width: 220px;
    height: 220px;

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    background-color: #c3c3c3;
}

.content_container {
    width: calc(100% - 220px);

    padding: 20px;
    border-radius: 15px;

    .card_head {
        display: flex;
        justify-content: space-between;

        color: #767676;
    }

    .card_body {
        div {
            display: flex;
            margin: 10px 0px;
        }
        div > svg {
            margin-right: 5px;
        }
    }

    .card_footer {
        h2 {
            margin: 10px 0px;
        }
        span {
            color: $color-primary;
        }
    }
}
