@import "@/styles/utils.scss";

.nav_wrapper {
    width: 100%;
    height: 120px;

    background-color: #fff;
}

.nav_container {
    @include container-width;
    height: 100%;

    display: flex;
    justify-content: space-between;

    margin: 0px auto;

    .logo {
        display: flex;
        justify-content: flex-start;
        @include place-center;

        svg {
            color: $color-primary;
        }
        span {
            margin: 0px 20px;
            font-size: 2rem;
            font-weight: bolder;
            color: $color-primary;
        }
        &:hover {
            cursor: pointer;
        }
    }
    .auth {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }
}

.nav_menu_wrapper {
    border-bottom: 2px solid $color-primary;

    background-color: #fff;

    .nav_menu_container {
        @include container-width;
        display: flex;
        justify-content: flex-start;

        margin: 0px auto;

        a {
            width: 80px;
            text-align: center;
            color: #7d8790;
        }

        li {
            @include place-center;

            width: 130px;
            height: 50px;

            font-size: 1.2rem;
        }

        li:hover {
            cursor: pointer;
        }
    }
}

.header {
    position: fixed;
    z-index: $header-z-index;
    top: 0;

    width: 100%;

    margin-bottom: 50px;
}
